<div class="h-auto flex">
    <img src="../../assets/imagenes/principal1.png" alt="home-page" class="w-3/4 h-auto">

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 m-auto space-x-1 h-screen items-center justify-center ">
        <img src="../../assets/imagenes/principal2.png" alt="login-alura" class="px-8 pt-6 pb-8 mb-4">



        <div class="flex items-center justify-between space-x-1">
            <a class="nav-link" routerLink="login">

                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    INGRESAR
                </button>
            </a>

            <a class="nav-link" routerLink="registro">

                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    REGISTRARSE
                </button>
            </a>


        </div>
    </form>
    
   
</div>